div{
    background-color: lightsalmon;
    margin: 10px;
    padding: 10px;
    color: crimson;
    text-align: justify;
}
h3{
    text-transform: capitalize;
    text-align: center;
    color: blue;
}